*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 6.25%;
}

body {
  background-color: #171316;
  font-family: sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 200rem 5rem 200rem;
}

.header-h1 {
  color: white;
  font-size: 25rem;
  font-weight: 400;
}

.header-p {
  color: blue;
  font-size: 20rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 5rem;
}

.change-btn {
  color: #1d161b;
  border: none;
  font-size: 20rem;
  font-weight: 600;
  background-color: yellow;
  padding: 17rem;
  border-radius: 15rem;
  transition: background-color 0.3s ease;
}

.change-btn:hover {
  cursor: pointer;
  background-color: yellowgreen;
}

.hangman-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20rem;
}

.hangman-image {
  width: 130rem;
}

.category-span {
  font-size: 20rem;
  color: rgb(231, 231, 231);
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 10rem;
}

.letters-list {
  list-style-type: none;
  padding-left: 0;
  width: 800rem;
  margin: 0 auto 48rem auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10rem;
  justify-content: center;
}

.letter {
  background-color: aquamarine;
  font-size: 35rem;
  font-weight: bold;
  border-radius: 12rem;
  width: 70rem;
  height: 70rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.letter:hover {
  background-color: rgb(31, 180, 130);
}

.letter.correct {
  background-color: #006bc3;
  pointer-events: none;
  color: rgba(240, 255, 255, 0.672);
}

.letter.wrong {
  background-color: red;
  pointer-events: none;
  color: rgba(240, 255, 255, 0.672);
}

.word-display {
  color: white;
  text-align: center;
  font-size: 40rem;
  margin-bottom: 10rem;
  font-weight: bold;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(18rem);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 100rem;
}

.overlay {
  background-color: transparent;
}

.modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.chose-mode-div,
.chose-category-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10rem;
}

.chose-mode-div {
  margin-bottom: 15rem;
}

.modal-h1 {
  margin-bottom: 15rem;
  color: white;
  font-size: 25rem;
}

.modal-btns {
  color: #1d161b;
  border: none;
  font-size: 27rem;
  font-weight: 600;
  background-color: yellow;
  padding: 10rem 55rem 10rem 55rem;
  border-radius: 12rem;
  transition: background-color 0.3s ease;
}

.modal-btns:hover {
  cursor: pointer;
  background-color: yellowgreen;
}

.reset-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset-btn {
  color: #1d161b;
  border: none;
  font-size: 25rem;
  font-weight: 600;
  background-color: aquamarine;
  padding: 20rem;
  border-radius: 15rem;
  transition: background-color 0.3s ease;
}

.reset-btn:hover {
  cursor: pointer;
  background-color: rgb(31, 180, 130);
}

.end-message {
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  color: gold;
  font-weight: 300;
  font-size: 25rem;
  margin-bottom: 10rem;
}

.red-timer {
  color: red;
  padding-top: 5rem;
}
